<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dojo Survey Result</title>
    <link rel="stylesheet" type="text/css" href="~/css/result.css">
    <link href='https://fonts.googleapis.com/css?family=ADLaM Display' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <div class="data">
            <h1 class="subInfo">Submitted Info</h1>
            <div class="blocks">
                <p>Name</p>
                <p id="name">@ViewBag.name</p>
            </div>
            <div class="blocks">
                <p>Dojo Location</p>
                <p id="location">@ViewBag.location</p>
            </div>
            <div class="blocks">
                <p>Favorite Language</p>
                <p id="favorite">@ViewBag.favorite</p>
            </div>
            <div class="blocks blockstextarea">
                <p>Comment</p>
                <p id="comment">@ViewBag.comment</p>
            </div>
            <div class="blocks">
                <button type="submit" class="btn1" onclick="goToIndex()">Go Back</button>
            </div>
            <script>
                function goToIndex() {
                    window.location.href = "/";
                }
            </script>
        </div>
    </div>
</body>

</html>